.footer{
    position: fixed;
    bottom:0;
}

body{
    background: lightblue;
}

h1{
    font-family: Times 'Times New Roman', Times, serif;
    font-weight: bold;
}


















